# Configuración local para Docker Compose
MYSQL_DATABASE=globalisosecurity
MYSQL_ROOT_PASSWORD=123456789

JWT_SECRET=GlobalIsoSecurity2026ClaveSecretaCambiarEnProduccion
JWT_EXPIRATION=86400000

FRONTEND_PORT=8080
MYSQL_PORT=3307
